/* ====================== Переменные ====================== */
$primary-color: #f9c82e;

/* ====================== Общие стили ====================== */
body {

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====================== Header ====================== */
header {

}

/*--------------------------------------------------------------
# Внутренняя страница
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@import "media-queries";
